h1{
    color: purple;
}
h2{
    color: deeppink;
}
h3{
    color: coral;
}
h4{
    color: hotpink;
}
h5{
    color: fuchsia;
}
h6{
    color: lightcoral;
}
a{
    color: slateblue;
}
p{
    color: black;
}
div{
    color: brown;
}